<h1>&nbsp;</h1>

<div ng-show="showSignup">
    <form class="form-login" ng-submit="submitRegistration(registrationForm)">
        <h2 class="form-login-heading">sign up</h2>
        <div class="login-wrap">
            <input type="email" placeholder="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
            <br>
            <input type="password" placeholder="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
            <br />
            <input type="password" placeholder="confirm password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
            <br />
            <button type="submit" class="btn btn-theme btn-block">Register</button>

            <div class="registration">
                <br/>
                <a href ng-click="showSignupTrue()">
                    Just sign in
                </a>
            </div>
        </div>
    </form>
</div>
